 .fromwrap {
   display: flex !important;
 }

 .form-group {
   margin-left: 10px;
 }

 .tabledata p-checkbox {
   display: block;
   margin: 0 auto;
   text-align: center;
 }

 .check {
   margin-top: 61px !important;
 }